dubbo:
  application:
    name: "ima-gateway"
    version: "1.0.0"
    organization: "bdsw"
    module: "ima-gateway"
    environment: "dev"

  registries:
    nacos:
      protocol: "nacos"
      address: "127.0.0.1:8848"  # Nacos 服务器地址
      namespace: "public"        # 命名空间
      timeout: "5s"
      username: "nacos"          # 如果有认证
      password: "nacos"          # 如果有认证

  protocols:
    triple:
      name: "tri"
      port: 50051
      serialization: "protobuf"

  provider:
    filter: "echo,token,accesslog"
    services:
      IMAGatewayService:
        interface: "api.IMAGatewayService"  # 服务接口名
        version: "1.0.0"
        group: "dev"
        protocol: "triple"
        serialization: "protobuf"
        cluster: "failover"
        loadbalance: "random"
        warmup: "100"
        retries: 3
        methods:
          - name: "PushToUser"
            retries: 1
          - name: "PushToUsers"
            retries: 2
          - name: "Broadcast"
            retries: 1
          - name: "KickUser"
            retries: 1

  logger:
    zap-config:
      level: "info"
      development: false
      encoding: "console"
      output-paths:
        - "stdout"
        - "./logs/ima-gateway.log"
      error-output-paths:
        - "stderr"
      initial-fields:
        service: "ima-gateway"